<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event.event_date_year%>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Source:</strong>
  <%= @event.source.name %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @event.destination.name %>
</p>

<p>
  <strong>Object:</strong>
  <%= @event.object.name %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
